<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab15</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
</head>
<body>
    <main>
		{{{body}}}
	</main>
    <script src="../../static/scripts/main.js"></script>
</body>
</html>